; npm postinstall sometimes 404s when @electron/get probes for the binary
; via the default mirror. Run install in two steps if so:
;   npm install --ignore-scripts
;   ELECTRON_MIRROR='https://github.com/electron/electron/releases/download/' \
;   ELECTRON_CUSTOM_DIR='v{{ version }}' \
;     node node_modules/electron/install.js
